.fc .fc-toolbar-title {
    font-size: 1.75em;
    margin: 0;
    
}

.fc .fc-scrollgrid-liquid {
    
    margin-top: 20px;
    height: 660px;
    
}


.fc .fc-toolbar.fc-header-toolbar {

    margin-top: 150px;
    margin-right: 450px;
    margin-left: 450px;

}


.fc .fc-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 150px;
}


.fc .fc-view-harness-active > .fc-view {
    position: absolute;
    margin-right: 400px;
    margin-left: 400px;
    margin-bottom: 400px;
    

}

.fc, .fc *, .fc *:before, .fc *:after {
    box-sizing: border-box;
    
}

.fc-direction-ltr .fc-daygrid-event .fc-event-time {
    margin-right: 3px;
    color: rgba(0, 0, 0, 0);
    opacity: 100%;
}



div.app .fc-view-harness.fc-view-harness-active{
    height: 700px;
}



.fc.fc-media-screen.fc-direction-ltr.fc-theme-standard{
    height: 700px;
}
