div {
  display: block;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #fff;
  min-height: 100vh;

}

.top-background-div {
  height: 140px;
  background-color: #fff;
}

.top-container {
  margin-top: -80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profilePhotoContainer {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #000;
  margin: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profilePhoto-text {
  font-size: 1.4rem;
  color: #fff;
  font-family: 'Montserrat';
}

.index-section {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
  /* flex-direction: column; */
  /* height: 120px; */
}

.index-circle {
  height: 140px;
  width: 140px;
  /* border-radius: 50%; */
  border: 2px solid #fafafa;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 8px;
  cursor: pointer;
}

b, strong {
  font-weight: bolder;
}

.btn-normal {
  display: block;
  width: 140px;
  padding: 16px 24px;
  margin: 8px;
  border-radius: 4;
  border: 1px solid #e0e0e0;
  font-size: 0.9rem;
  text-align: center;
  outline: none;
  cursor: pointer;
  background-color: #fff;
}

.container .text {
  font-family: 'Montserrat';
  font-size: 35px;
  font-weight: 600;
  text-align: center;
  color: #000000;
}

.uk-container-large {
  max-width: 1400px;
}

.uk-padding-small {
  padding: 15px;
}

.uk-h3, h3 {
  font-size: 1.5rem;
  line-height: 1.4;
}

element.style {
  padding: 16px;
}

.uk-grid-collapse, .uk-grid-column-collapse {
  margin-left: 0;
}

.uk-grid {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.uk-card-default {
  background-color: #fff;
  color: #666;
  box-shadow: 0 5px 15px rgb(0 0 0 / 8%);
}

.uk-card {
  position: relative;
  box-sizing: border-box;
  transition: box-shadow 0.1s ease-in-out;
}


.uk-width-1-3\@m {
    width: calc(100% * 1 / 3.001);
}

[class*='uk-width'] {
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
}

.uk-grid-collapse > *, .uk-grid-column-collapse > * {
  padding-left: 0;
}

.uk-width-1-2 {
  width: 50%;
}

canvas, img, video {
  max-width: 100%;
  height: auto;
  box-sizing: border-box;
}

audio, canvas, iframe, img, svg, video {
  vertical-align: middle;
}

.d-day-circle {
  font-family: 'Montserrat';
  position: absolute;
  top: 8px;
  left: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #26dbe1;
  color: #fff;
  font-weight: 700;
  font-size: 0.8rem;
}

.uk-grid > * > :last-child {
  margin-bottom: 0;
}

.share-circle {
  font-family: 'Montserrat';
  position: absolute;
  top: 8px;
  left: 66px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #ffcb2b;
  color: #fff;
  font-weight: 700;
}

.uk-width-1-2 {
  width: 50%;
}

.uk-width-1-3\@m {
    width: calc(100% * 1 / 3.001);
}


.uk-width-2-3\@m {
    width: calc(100% * 2 / 3.001);
}

.uk-flex-top {
  align-items: flex-start;
}

.pagination-container {
  display: flex;
  justify-content: center;
  align-content: center;
}

.info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 !important;
}

.review-edit-modal {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999999999999;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  padding: 15px 15px;
  background: rgba(0, 0, 0, 0.6);
  opacity: 1;
  transition: opacity 0.15s linear;
}

#fatkun-drop-panel {
  user-select: none;
  position: fixed;
  top: -1e+10px;
  color: rgb(255, 255, 255);
  font-family: -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif;
  font-weight: 400;
  z-index: 2147483647;
  background: rgb(64, 158, 255);
  overflow: hidden;
  border-radius: 5px;
  transition: opacity 0.2s cubic-bezier(0.6, 0, 0.4, 1) 0s, transform 0.2s ease-in-out 0s;
}


.uk-flex-top {
  align-items: flex-start;
}


.uk-modal {
    padding-left: 40px;
    padding-right: 40px;
}

.uk-margin-auto-vertical {
  margin-top: auto !important;
  margin-bottom: auto !important;
}

[class*='uk-modal-close-'] {
  position: absolute;
  z-index: 1010;
  top: 10px;
  right: 10px;
  padding: 5px;
}

.uk-form-icon-flip ~ .uk-input {
  padding-right: 40px !important;
}

.uk-form-width-medium {
  width: 200px;
}

.uk-form-blank {
  background: 0 0;
  border-color: transparent;
}

.uk-input, .uk-select:not([multiple]):not([size]) {
  height: 40px;
  vertical-align: middle;
  display: inline-block;
}

.uk-input, .uk-select, .uk-textarea {
  max-width: 100%;
  width: 100%;
  border: 0 none;
  padding: 0 10px;
  background: #fff;
  color: #666;
  border: 1px solid #e5e5e5;
  transition: 0.2s ease-in-out;
  transition-property: color, background-color, border;
}

.uk-button {
  margin: 0;
  border: none;
  overflow: visible;
  font: inherit;
  color: inherit;
  text-transform: none;
  -webkit-appearance: none;
  border-radius: 0;
  display: inline-block;
  box-sizing: border-box;
  padding: 0 30px;
  vertical-align: middle;
  font-size: 0.875rem;
  line-height: 38px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.1s ease-in-out;
  transition-property: color, background-color, border-color;
}

.uk-width-1-4 {
  width: 25%;
}

.uk-grid > * {
  padding-left: 30px;
}

.uk-grid > * {
  margin:0;
}

.uk-width-1-4 {
  width: 25%;
}

.small-title {
  font-size: 1rem;
  font-weight: 700;
  color: #5dc9dd;
}

.small-text {
  font-size: 0.9rem;
  color: #000;
  font-family: 'Montserrat';
  letter-spacing: 1px;
  padding: 8px;
}

.uk-grid > * > :last-child {
  margin-bottom: 0;
}

.uk-inline {
    display: inline-block;
    position: relative;
    max-width: 100%;
    vertical-align: middle;
    
}

svg:not(:root) {
  overflow: hidden;
}

.uk-form-icon-flip ~ .uk-input {
  padding-right: 40px !important;
}


.uk-width-expand\@m {
    flex: 1;
    min-width: 1px;
}