#cityinfo {
    padding-top: 100px;
}

#cityinfo .regionImg {
    width: 500px;
    height: 300px;
}

/* #cityinfo .slick-slide img {
    width: 500px;
    height: 300px;
} */

#cityinfo .title {
    font-size: 3em;
}

#cityinfo .css-13xfq8m-MuiTabPanel-root {
    padding: 0px 16px 16px 16px;
}

#cityinfo .row>* {
    margin-top: 15px;
}

#cityinfo .css-1h9z7r5-MuiButtonBase-root-MuiTab-root {
    font-size: 1.6em;
}

#cityinfo .css-anmq6p-MuiTypography-root {
    font-size: 20px;
    font-weight: bold;
    margin: 0px;
}
#cityinfo .css-1t6e9jv-MuiCardActions-root {
    margin-left: 0px;
}
#cityinfo .css-1t6e9jv-MuiCardActions-root {
    padding: 0px;
}

#cityinfo .css-46bh2p-MuiCardContent-root {
    padding: 0px 0px 0px 16px;
}

#cityinfo .css-o69gx8-MuiCardMedia-root {
    width: 220px;
    height: 180px;
}

#cityinfo .scheduleContainer {
    margin-left: 20px;
}
#cityinfo .schedule-title-add-box {
    display: flex;
    align-items: center;
}

#cityinfo .scheduleBtn {
    width: 120px;
    height: 40px;
    font-size: 13px;
    margin-right: 5px;
    color: gray;
    background-color: silver;
}

#cityinfo .scheduleBtnBox {
    display: flex;
    margin-left: 100px;
    margin-bottom: 20px;
    margin-top: 50px;
}

#cityinfo .schedule-big-box {
    height: 280px;
    overflow: scroll;
}

#cityinfo .schedule-big-box .schedule-box {
    /* border: 4px solid skyblue; */
    border-radius: 8px;
    /* width: 300px; */
    height: 90px;
    margin: 5px 10px 5px 0px;
    vertical-align: middle;
    font-size: 20px;
    color: gray;
    padding: 5px;
    display: flex;
    align-items: center;
    font-family: 'Montserrat';
}
#cityinfo .d-day {
    width: 70px;
    height: 70px;
    background-color: #c7eef0;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 50px;
}
#cityinfo .subject {
    margin-right: 50px;
}

#cityinfo span.material-symbols-outlined {
    cursor: pointer;
}

#cityinfo .schedule-title {
    font-size: 2em;
    color: inherit;
    margin-right: 10px;
}
#cityinfo .material-symbols-rounded.add-date {
    font-size: 30px;
    margin-top: 3px;
}

#cityinfo .aa h5 {
    font-weight: bold;
}
/* 키워드 입력칸 클릭했을 때 border 색 */
#cityinfo .css-md26zr-MuiInputBase-root-MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
    color: #75b4bd;
}
/* input칸 클릭했을 때 키워드를 입력하세요 상단으로 이동되는거 글자 색 */
#cityinfo .css-1sumxir-MuiFormLabel-root-MuiInputLabel-root.Mui-focused {
    color: #75b4bd;
}
/* input 입력할 때 글자 색 */
#cityinfo .css-1n4twyu-MuiInputBase-input-MuiOutlinedInput-input {
    color: #75b4bd;
}
/* 검색할 키워드를 입력하세요 글자 색 */
#cityinfo .css-1pysi21-MuiFormLabel-root-MuiInputLabel-root {
    color: #75b4bd;
}
/* 키워드 입력 input border 색 */
#cityinfo .css-1d3z3hw-MuiOutlinedInput-notchedOutline {
    border-color: #75b4bd;
}


#cityinfo .place-list-box {
    display: flex;
    margin-top: 50px;
}
#cityinfo .keyword-search {
    display: flex;
    margin-top: 20px;
    margin-left: 700px;
}

/* mui 탭태그 언더color 파란색 뜨는거 */
#cityinfo .css-1aquho2-MuiTabs-indicator {
    background-color: #75b4bd;
}
/* 탭태그 전체보기, 음식점 글씨 색 */
#cityinfo .css-1h9z7r5-MuiButtonBase-root-MuiTab-root.Mui-selected {
    color: #75b4bd;
}

/* 날씨 데이터 */
#cityinfo #weather-css {
    width: 500px;
    height: 360px;
    padding: 0 10px;
    /* border: 1px solid gray; */
    overflow: scroll;
    /* background-color: gray; */
    color: white;
    scrollbar-width:none;
    margin-left: 10px;
    background-image: url('../../public/WeatherImage/weather_back4.png');
    background-size: cover;
}

#cityinfo #weather-css::-webkit-scrollbar{
    display: none;
}
#cityinfo .ppp{
    border-bottom: 1px solid rgba(255, 255, 255, 0.50);
    justify-content: space-around;
    align-items: center;
    display: flex;
    padding: 10px;
}
#cityinfo .ppp .aaa{
    font-size: 22px;
}
#cityinfo .ppp .bbb{

}
#cityinfo .ppp .ccc{
    font-size: 25px;
}
#cityinfo span.material-symbols-outlined.weather_span{
    font-size: 70px;
    cursor:default;
}

#cityinfo .ppp .max-temp {
    /* color: rgb(204, 11, 11); */
    /* font-weight: bold; */
    font-family: 'Montserrat';
    font-size: 30px;
    position: relative;
    z-index: 1;
}
#cityinfo .ppp .min-temp {
    color: skyblue;
    font-weight: bold;
    font-size: 30px;
    position: relative;
    left: 60px;
    bottom: 140px;
    z-index: 1;
}

#cityinfo .ppp .slash {
    position: relative;
    bottom: 48px;
    right: 10px;
    filter: opacity(0.4) drop-shadow(0 0 0 rgb(247, 238, 238));
    z-index: 0;
}


#cityinfo .container {
    width: 500px;   
    display: block;
    background: #fff;
    width: 500px;
    padding: 0px
    /* padding: 40px 0; */
    /* box-shadow: 0 0 8px rgb(0 0 0 / 10%); */
}

#cityinfo .slick-dots{
    margin-bottom: 20px;
}

#cityinfo .moreBtn {
    background-color: #f3eeee;
    margin-left: 285px;
    margin-top: 20px;
}

#cityinfo .wimg {
    width: 80px;
    height: 80px;
}

#cityinfo .css-1h9z7r5-MuiButtonBase-root-MuiTab-root{
    font-size: 20px;
    margin-right: 30px;
}

#cityinfo .qqq{
    margin-left: 80px;
}

#cityinfo .more-input {
    margin-right: 5px;
}

#cityinfo .more-input-b {
    margin-right: 80px;
}

#cityinfo .more-select {
    margin-left: 300px;
}

#cityinfo .more-image {
    width: 200px;
    height: 150px;
}
#cityinfo .more-image img{
    width: 200px;
    height: 150px;
}

#cityinfo .more-location {
    font-size: 20px;
    font-weight: bold;
}
#cityinfo .more-addr {
    font-size: 12px;
    color: #c4c4c4;
}
#cityinfo .more-content {
    font-size: 12px;
}

#cityinfo .css-1d3jhju-MuiAvatar-root, #cityinfomore .css-wk5mvb-MuiAvatar-root {
    cursor: pointer;
}

#cityinfo .place-heart.row {
    position: relative;

}

#cityinfo span.heart_span {
    position: relative;
    top: 50px;
    left: 195px;
    cursor: pointer;
    z-index: 99999;    
}


