#cityinfo .regionImg {
    width: 500px;
    height: 300px;
}

#cityinfo .title {
    font-weight: bold;
    color: skyblue;
    font-size: 3em;
}

#cityinfo .css-13xfq8m-MuiTabPanel-root {
    padding: 0px 16px 16px 16px;
}

#cityinfo .row>* {
    margin-top: 15px;
}

#cityinfo .css-1h9z7r5-MuiButtonBase-root-MuiTab-root {
    font-size: 1.6em;
}

#cityinfo .css-anmq6p-MuiTypography-root {
    font-size: 20px;
    font-weight: bold;
    margin: 0px;
}
#cityinfo .css-1t6e9jv-MuiCardActions-root {
    margin-left: 0px;
}
#cityinfo .css-1t6e9jv-MuiCardActions-root {
    padding: 0px;
}

#cityinfo .css-46bh2p-MuiCardContent-root {
    padding: 0px 0px 0px 16px;
}

#cityinfo .css-o69gx8-MuiCardMedia-root {
    width: 220px;
    height: 180px;
}

#cityinfo .scheduleContainer {
    margin-left: 20px;
}

#cityinfo .scheduleBtn {
    width: 120px;
    height: 40px;
    font-size: 13px;
    margin-right: 5px;
    color: gray;
    background-color: silver;
}

#cityinfo .scheduleBtnBox {
    display: flex;
    margin-left: 100px;
    margin-bottom: 20px;
    margin-top: 50px;
}

#cityinfo .aa {
    border: 4px solid skyblue;
    border-radius: 8px;
    height: 90px;
    margin: 15px 0px 15px 0px;
    vertical-align: middle;
    font-size: 20px;
    color: gray;
    padding: 13px 10px 10px 20px;
}

#cityinfo .bb {
    font-size: 2em;
    color: skyblue;
}

#cityinfo .aa h5 {
    font-weight: bold;
}

#cityinfo .searchCity {
    margin-left: 300px;    
}
#cityinfo .searchCity input{
    width: 300px;    
    height: 40px;
    border-radius: 8px;
    border-color: skyblue;
    color: gray;
}

/* 날씨 데이터 */
#cityinfo #weather-css {
    width: 500px;
    height: 360px;
    border: 1px solid gray;
    overflow: scroll;
    background-color: gray;
    color: white;
    scrollbar-width:none;
    margin-left: 10px;
    padding-left: 5px;
}
#cityinfo #weather-css::-webkit-scrollbar{
    display:none;
}
#cityinfo .ppp{
    border: 1px solid white;
}


#cityinfo .container {
    width: 500px;   
    display: block;
    background: #fff;
    width: 500px;
    padding: 0px
    /* padding: 40px 0; */
    /* box-shadow: 0 0 8px rgb(0 0 0 / 10%); */
}

#cityinfo .slick-dots{
    margin-bottom: 20px;
}

#cityinfo .moreBtn {
    background-color: #f3eeee;
    margin-left: 285px;
    margin-top: 20px;
}

#cityinfomore .css-1h9z7r5-MuiButtonBase-root-MuiTab-root{
    font-size: 20px;
    margin-right: 20px;
}

#cityinfomore .qqq{
    margin-left: 90px;
}

#cityinfomore .more-input {
    margin-right: 5px;
}

#cityinfomore .more-input-b {
    margin-right: 103px;
}

#cityinfomore .more-select {
    margin-left: 800px;
}

#cityinfomore .more-image {
    width: 200px;
    height: 150px;
}
#cityinfomore .more-image img{
    width: 200px;
    height: 150px;
}

#cityinfomore .more-location {
    font-size: 20px;
    font-weight: bold;
}
#cityinfomore .more-addr {
    font-size: 12px;
    color: #c4c4c4;
}
#cityinfomore .more-content {
    font-size: 12px;

}

#cityinfomore .css-1d3jhju-MuiAvatar-root, #cityinfomore .css-wk5mvb-MuiAvatar-root {
    cursor: pointer;
}