div.place_info{
    display:flex;
    margin:0 auto;
    justify-content:center;
    margin-top: 5%;
}

div#place_map{
    width: 700px;
    height: 500px;
}

div.place_all_data{
    display:flex;
    flex-direction:column;
    margin-left:10px;
    margin-top:80px;
}

/* img.place_img{
    width:100px;
    height:100px;
} */

div.place_all_data div.place_sub_data{
    display:inline-flex;
}

div.place_img_name_type{
    /* margin-left:15px; */
    text-align:left;
}

div.place_review_write{
    display:inline-flex;
    margin-top:13px;
    text-align:left;
}
div.place_review_write textarea.review{
    width:400px;
    height:100px;
}

div.place_review_write button.btn_review_write{
    margin-left:10px;
    background-color: #1976d2;
    color:white;
    border:none;
    border-radius: 5px;
}
label.css-dqr9h-MuiRating-label{
  
    display: unset;
}



/*좋아요 test*/
#main-content {
    width: 40px;
    height: 40px;
    /* display:flex;
    align-items:baseline;
     justify-content:row;
    /* background-color:white; */
   /* margin: 0 auto; */
  }

  a {
    font-size: 12px;
    font-weight: bold;
    margin-top: 10px;
    display: inline-block;
    text-decoration: none;
    color: #008A68;
  }
  
  svg {
    cursor: pointer;
    overflow: visible;
    width: 40px;
  }
  svg #heart {
    width: 40px;
    transform-origin: center;
    animation: animateHeartOut 0.3s linear forwards;
  }
  svg #main-circ {
    transform-origin: 29.5px 29.5px;
  }
  
  #checkbox {
    display: none;
  }
  
  #checkbox:checked + label#heartlabel svg #heart {
    transform: scale(0.2);
    fill: #E2264D;
    animation: animateHeart 0.3s linear forwards 0.25s;
  }
  #checkbox:checked + label#heartlabel svg #main-circ {
    transition: all 2s;
    animation: animateCircle 0.3s linear forwards;
    opacity: 1;
  }
  #checkbox:checked + label#heartlabel svg #grp1 {
    opacity: 1;
    transition: 0.1s all 0.3s;
  }
  #checkbox:checked + label#heartlabel svg #grp1 #oval1 {
    transform: scale(0) translate(0, -30px);
    transform-origin: 0 0 0;
    transition: 0.5s transform 0.3s;
  }
  #checkbox:checked + label#heartlabel svg #grp1 #oval2 {
    transform: scale(0) translate(10px, -50px);
    transform-origin: 0 0 0;
    transition: 1.5s transform 0.3s;
  }
  #checkbox:checked + label#heartlabel svg #grp2 {
    opacity: 1;
    transition: 0.1s all 0.3s;
  }
  #checkbox:checked + label#heartlabel svg #grp2 #oval1 {
    transform: scale(0) translate(30px, -15px);
    transform-origin: 0 0 0;
    transition: 0.5s transform 0.3s;
  }
  #checkbox:checked + label#heartlabel svg #grp2 #oval2 {
    transform: scale(0) translate(60px, -15px);
    transform-origin: 0 0 0;
    transition: 1.5s transform 0.3s;
  }
  #checkbox:checked + label#heartlabel svg #grp3 {
    opacity: 1;
    transition: 0.1s all 0.3s;
  }
  #checkbox:checked + label#heartlabel svg #grp3 #oval1 {
    transform: scale(0) translate(30px, 0px);
    transform-origin: 0 0 0;
    transition: 0.5s transform 0.3s;
  }
  #checkbox:checked + label#heartlabel svg #grp3 #oval2 {
    transform: scale(0) translate(60px, 10px);
    transform-origin: 0 0 0;
    transition: 1.5s transform 0.3s;
  }
  #checkbox:checked + label#heartlabel svg #grp4 {
    opacity: 1;
    transition: 0.1s all 0.3s;
  }
  #checkbox:checked + label#heartlabel svg #grp4 #oval1 {
    transform: scale(0) translate(30px, 15px);
    transform-origin: 0 0 0;
    transition: 0.5s transform 0.3s;
  }
  #checkbox:checked + label#heartlabel svg #grp4 #oval2 {
    transform: scale(0) translate(40px, 50px);
    transform-origin: 0 0 0;
    transition: 1.5s transform 0.3s;
  }
  #checkbox:checked + label#heartlabel svg #grp5 {
    opacity: 1;
    transition: 0.1s all 0.3s;
  }
  #checkbox:checked + label#heartlabel svg #grp5 #oval1 {
    transform: scale(0) translate(-10px, 20px);
    transform-origin: 0 0 0;
    transition: 0.5s transform 0.3s;
  }
  #checkbox:checked + label#heartlabel svg #grp5 #oval2 {
    transform: scale(0) translate(-60px, 30px);
    transform-origin: 0 0 0;
    transition: 1.5s transform 0.3s;
  }
  #checkbox:checked + label#heartlabel svg #grp6 {
    opacity: 1;
    transition: 0.1s all 0.3s;
  }
  #checkbox:checked + label#heartlabel svg #grp6 #oval1 {
    transform: scale(0) translate(-30px, 0px);
    transform-origin: 0 0 0;
    transition: 0.5s transform 0.3s;
  }
  #checkbox:checked + label#heartlabel svg #grp6 #oval2 {
    transform: scale(0) translate(-60px, -5px);
    transform-origin: 0 0 0;
    transition: 1.5s transform 0.3s;
  }
  #checkbox:checked + label#heartlabel svg #grp7 {
    opacity: 1;
    transition: 0.1s all 0.3s;
  }
  #checkbox:checked + label#heartlabel svg #grp7 #oval1 {
    transform: scale(0) translate(-30px, -15px);
    transform-origin: 0 0 0;
    transition: 0.5s transform 0.3s;
  }
  #checkbox:checked + label#heartlabel svg #grp7 #oval2 {
    transform: scale(0) translate(-55px, -30px);
    transform-origin: 0 0 0;
    transition: 1.5s transform 0.3s;
  }
  #checkbox:checked + label#heartlabel svg #grp2 {
    opacity: 1;
    transition: 0.1s opacity 0.3s;
  }
  #checkbox:checked + label#heartlabel svg #grp3 {
    opacity: 1;
    transition: 0.1s opacity 0.3s;
  }
  #checkbox:checked + label#heartlabel svg #grp4 {
    opacity: 1;
    transition: 0.1s opacity 0.3s;
  }
  #checkbox:checked + label#heartlabel svg #grp5 {
    opacity: 1;
    transition: 0.1s opacity 0.3s;
  }
  #checkbox:checked + label#heartlabel svg #grp6 {
    opacity: 1;
    transition: 0.1s opacity 0.3s;
  }
  #checkbox:checked + label#heartlabel svg #grp7 {
    opacity: 1;
    transition: 0.1s opacity 0.3s;
  }
  
  @keyframes animateCircle {
    40% {
      transform: scale(10);
      opacity: 1;
      fill: #DD4688;
    }
    55% {
      transform: scale(11);
      opacity: 1;
      fill: #D46ABF;
    }
    65% {
      transform: scale(12);
      opacity: 1;
      fill: #CC8EF5;
    }
    75% {
      transform: scale(13);
      opacity: 1;
      fill: transparent;
      stroke: #CC8EF5;
      stroke-width: 0.5;
    }
    85% {
      transform: scale(17);
      opacity: 1;
      fill: transparent;
      stroke: #CC8EF5;
      stroke-width: 0.2;
    }
    95% {
      transform: scale(18);
      opacity: 1;
      fill: transparent;
      stroke: #CC8EF5;
      stroke-width: 0.1;
    }
    100% {
      transform: scale(19);
      opacity: 1;
      fill: transparent;
      stroke: #CC8EF5;
      stroke-width: 0;
    }
  }
  @keyframes animateHeart {
    0% {
      transform: scale(0.2);
    }
    40% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes animateHeartOut {
    0% {
      transform: scale(1.4);
    }
    100% {
      transform: scale(1);
    }
  }

  /*input type file css*/

  .btn-upload {
    width: 30px;
    height: 30px;
    background: #fff;
    border: 1px solid #4d4d4d;
    border-radius: 10px;
    font-weight: 500;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .btn-upload:hover {
    background: #4d4d4d;
    color: #fff;
  }
  
  #file {
    display: none;
  }

    
  #file2 {
    display: none;
  }
  
 /* .css-13xfq8m-MuiTabPanel-root  div#mui-p-11655-P-2{
  overflow:scroll;
  overflow-x:hidden;
  padding: 0;
} */