/*** Calendar.js ***/
#plan-calendar{
  text-align: center;
}

#plan-calendar .rdrDefinedRangesWrapper{
  display: none;
}

/*** Plan.js ***/
#plan{
  text-align: center;
}

#plan .day{
  width: 400px;
  margin: 20px auto;
  background-color: white;
  border-radius: 20px;
  padding: 10px 20px;
}

#plan .day span{
  font-size: 27px;
  font-weight: 500;
  cursor: pointer;
  line-height: 1.3;
}

#plan .day button{
  margin: 5px;
}

/*** DayPlan.js ***/
/* #day-plan{
  text-align: center;
} */

#day-plan .title-wrap{
  display: flex;
  justify-content: center;
  align-items: center;
}

#day-plan .title{
  font-size: 30px;
  font-weight: 500;
  margin: 0 100px;
}

#day-plan .list-container{
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

#day-plan .left{
  width: 400px;
  background-color: rgb(238, 238, 238);
  border-radius: 20px;
  margin-right: 10px;
  padding: 20px;
}

#day-plan .left .plan-place-list{
  height: 500px;
  overflow: auto;
  overflow-x: hidden;
}

#day-plan .right{
  width: 400px;
  background-color: rgb(238, 238, 238);
  border-radius: 20px;
  margin-left: 10px;
  padding: 20px;
}

#day-plan .right input{
  width: 100%;
}

#day-plan .right .api-place-list{
  height: 400px;
  overflow: auto;
  overflow-x: hidden;
}

#day-plan .label{
  font-size: 20px;
}

#day-plan>button{
  margin: 0 auto;
}

/*** PlaceItem.js ***/
.place-list-item img{
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 100px;
  margin-right: 10px;
}

.place-list-item{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

/* 장소 목록 사이에 보더 넣기 */
.place-list-item:not(:last-child){
  border-bottom: 1px solid lightgray;
}

/* #day-plan .api-place-list .container + #day-plan .api-place-list .container{
  border-top: 1px solid lightgray;
} */

.place-info-wrap{
  display: flex;
  align-items: center;
  text-align: left;
}

.place-info-wrap .place-info{
  font-size: 14px;
  color: rgb(100, 100, 100);
}